# ── Source DB 
SOURCE_DB_HOST=postgres
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=Olist_eCommerce_db
SOURCE_DB_USER=postgres
SOURCE_DB_PASS=

# ── Analytics DB 
DB_URL=
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=
SSL_MODE=require

# ── Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
TOPIC_PREFIX=Olist
TABLE_INCLUDE_LIST=public.customers,public.orders,public.order_items,public.order_payments,public.order_reviews,public.products,public.sellers